.add-to-cart-notification {
  position: fixed;
  top: -100px; /* Start off-screen */
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
  z-index: 1000;
}

.message {
  color: white;
}

.add-to-cart-notification.visible {
  top: 20px;
  opacity: 1;
}

.add-to-cart-notification .check-icon {
  margin-right: 10px;
  font-size: 1.2em;
}

.add-to-cart-notification p {
  margin: 0;
}
