.container {
  min-height: 100vh;
  background-color: #f9fafb;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 1rem;
}

.hero-section {
  margin-bottom: 10rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textContent {
  /* margin-bottom: 2rem; */
  text-align: center;
}

.subtitle {
  font-size: 1.25rem;
}

.welcome-div {
  display: inline-block;
  /* background-color: #00e3cc; */
  /* background-color: #5a5b9f; */
  background-color: #d1f5f4ff;
  /* background-color: #4299e1; */
  padding: 0.5rem 1rem;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1rem;
  /* color: #000000; */
  color: #073763;
  /* color: #7e7e7e; */
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 0;
}

.title {
  font-size: 3.5rem;
  font-weight: bold;
  /* color: #1f2937; */
  color: #073763;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.subtitle1 {
  font-size: 1.25rem;
  /* color: #4b5563; */
  color: #073763;
  margin-bottom: 2rem;
}

.button {
  /* background-color: #6667ab; */
  /* background-color: #5a5b9f; */
  background-color: #00e3cc;
  /* background-color: #d1f5f4ff; */
  /* background-color: #4299e1; */
  /* color: #000000; */
  color: #073763;
  /* color: #7e7e7e; */
  margin-left: 12rem;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 0.375rem;
  font-size: 1.125rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: rgb(168, 234, 232);
}

.imageContent {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 400px;
}

.logo-big {
  height: 400px;
  width: 400px;
  object-fit: contain;
  margin-bottom: 1rem;
  margin-left: 7.5rem;
  margin-top: 1rem;
}

.bookCover {
  position: absolute;
  width: 60%;
  height: auto;
  max-height: 90%;
  object-fit: cover;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 0.375rem;
  transition: all 0.5s ease;
}

.currentBookCover {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.nextBookCover {
  top: 55%;
  /* Change this */
  left: 10%;
  transform: translate(-50%, -50%) rotate(-15deg);
  z-index: 2;
}

.lastBookCover {
  top: 55%;
  /* Change this */
  left: 95%;
  transform: translate(-50%, -50%) rotate(15deg);
  z-index: 1;
}

.introduction-section {
  text-align: center;
  margin-bottom: 6rem;
}

.section-title1 {
  font-size: 2.5rem;
  color: #0e2954;
  margin-bottom: 1.5rem;
}

.section-description {
  font-size: 1.125rem;
  color: #1f4172;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}

.authors-section {
  display: grid;
  gap: 4rem;
}

.ring-design {
  position: absolute;
  bottom: -150px;
  left: -190px;
  width: 300px;
  height: 300px;
  transform: rotate(-45deg);
}

.ring {
  position: absolute;
  border-radius: 100%;
  border-style: solid;
  border-width: 20px;
}

.ring-1 {
  width: 100%;
  height: 100%;
  top: -30%;
  right: -65%;
  border-color: #00e3cc #00e3cc;
}

.ring-2 {
  width: 70%;
  height: 70%;
  top: -10%;
  right: -65%;
  border-color: #073763 #073763;
}

@media (max-width: 768px) {
  .ring-design {
    width: 200px;
    height: 200px;
    bottom: -100px;
    left: -100px;
  }

  .ring {
    border-width: 15px;
  }
}

@media (min-width: 768px) {
  .content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .textContent {
    text-align: left;
    width: 50%;
  }

  .imageContent {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .authors-section {
    grid-template-columns: repeat(2, 1fr);
  }
}
