.navbar {
  background-color: #073763;
  /* background-color: #d1f5f4ff; */
  /* background-color: #b9dbfe; */
  /* background-color: #00e3cc; */
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftSection,
.rightSection {
  display: flex;
  align-items: center;
}

.logo {
  height: 60px;
  margin-left: 5rem;
  margin-right: 10rem;
}

.navLinks {
  display: none;
}

.navLink {
  color: #ffffff;
  /* color: #4b5563; */
  font-size: 1rem;
  text-decoration: none;
  margin-right: 2.5rem;
  position: relative;
  transition: color 0.3s ease;
}

.navLink::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #ffffff;
  /* background-color: #073763; */
  /* background-color: #00e3cc; */
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.navLink:hover::after,
.navLink.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navLink:hover,
.navLink.active {
  color: #ffffff;
  /* color: #073763; */
  /* color: #00e3cc; */
}

.searchContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.icon,
.cartIcon {
  margin-left: 1rem;
  font-size: 1.25rem;
  color: #ffffff;
  cursor: pointer;
}

.cartIcon {
  margin-right: 5rem;
  position: relative;
}

.cartCount {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #d1f5f4ff;
  color: rgb(0, 0, 0);
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.75rem;
}

@media (min-width: 768px) {
  .navLinks {
    display: flex;
  }
}
